*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8ff;
}

#searchContainer{
    padding: 0.5rem;
    width: 100%;
}

#searchContainer input{
    width: 18.75rem;
    border-top: none;
    border-left: none;
    border-right: none;
}

#searchContainer button{
    margin-left: 1.5rem;
    border-radius: 7px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#searchContainer button:hover{
    background-color: lightblue;
    color: white;
    border: none;
}

.btnContainer{
    display: flex;
    align-items: flex-start;
}

.btnContainer button{
    margin: 0.2rem;
    padding: 0.6rem;
    border-radius: 10px;
    text-align: center;
    font-size: 0.6rem;
    color: red;
    background-color: white;
    border-color: blue;
    cursor: pointer;
}

.btnContainer active::before{
    background-color: red;
}

.productContainer {
    width: 100%;
    margin-left: 2rem;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.productList li {
    flex: 1 0 20%; /* Adjust for spacing */
    margin: 20px 50px 0 0; /*top | right | bottom | */
    text-align: center;
    background-color: white;
    filter: drop-shadow(0 0 0.20rem black);
    padding: 20px;
}

.productList li img {
    width: 90%; /* Fill the li */
    height: auto;
}
